*{
    margin: 0;
    padding: 0;
    outline: 0;
    
}

#content{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
}
  
  
  form input, #textarea, #input-tags{
    padding: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    border-radius: 10px;
    border: thin solid #d4d4d4;
  }

  
  form label{
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 7px;
  }
  
  #textarea{
    min-height: 150px;
    padding: 10px;
  }
  
  form input[type=submit]{
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    background-color: #f3e7fa;
  }
  
  form input[type=submit]:hover{
    background-color: #6a507b;
    color: #fff;
  }

  h2{
    font-weight: lighter;
    margin-bottom: 40px;
	  border-bottom: thin solid #d4d4d4;
	  padding-bottom: 10px;
    padding: 40px 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  }
  
  form input:focus,
  form textarea:focus{
    outline: none;
  }
  
  .success{
    color: green;
  }
  
  .error{
    color: red;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    color: #555;
  }
  
  table{
    width:  1000px;
    margin: 30px auto;
  }
  
  table th{
    padding: 10px 0;
    background-color: #f4f4f4;
    /* background-color: #fff; */
    border:  thin solid #d4d4d4;
  }
  
  table td{
    padding: 10px;
    border:  thin solid #d4d4d4;
    width: 18%;
    text-align: center;
    background-color: #fff;
  }
  
  table img{
    width:  70%;
  }
  
  table td.total-price{
    font-weight: bold;
    font-size: 22px;
  }
  #update, #delete{
    text-decoration: none;
    color: darkred;
    background-color: #ffecef;
    padding: 10px 15px;
  }
  a{
    text-decoration: none;
    color: #555;
    
  }
  #update:active,
   #delete:active,
   a:active{
    background-color: #ccf4d6;
    color:  green;
  }
  
  table select{
    padding: 10px;
    width:  200px;
    font-size: 16px;
    border: thin solid #d4d4d4;
    background-color: transparent;
  }
  table select:focus{
    outline: none;
  }
  
  table{
    width:  70%;
  }


/* snow flakes */
  body { background-color:#333; }
  #snow{
    background: none;
   
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
  }
  @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
  }
  @-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }

  #update-sub{
    width: 20%;
    margin-top: 5px;
  }

  #tags, #update-sub, #content-textarea, #title, #author{
    margin: 5px 20px;
    padding: 10px;
  }

  h3 {
    color: white;
    margin-top: 20px;
    margin-left: 22px;
  }